@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg:#0b0b0d;
}

body{
  background: var(--bg);
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.bg-dark {
  background: #0b0b0d;
}